<form name='form1' action='/controllerUpdateCliente' method='post'>

<h1>Alteração de Cliente</h1>

    <input type='text' name='cliente_id' id='cliente_id' placeholder='ID do Cliente' value='{{cliente_id}}'><br>
    <input type='text' name='nome_cliente' id='nome_cliente' placeholder='Nome do cliente' value='{{nome_cliente}}'><br>
    <input type='text' name='endereco_cliente' id='endereco_cliente' placeholder='Endereço do cliente' value='{{endereco_cliente}}'><br>
    <input type='text' name='cel_cliente' id='cel_cliente' placeholder='Celular do cliennte' value='{{cel_cliente}}'><br>
    <input type='text' name='email_cliente' id='email_cliente' placeholder='Email' value='{{email_cliente}}'><br>
    <input type='text' name='senha_cliente' id='senha_cliente' placeholder='Senha' value='{{senha_cliente}}'><br>
    <input type='text' name='datanasc_cliente' id='datanasc_cliente' placeholder='Data de Nasc' value='{{datanasc_cliente}}'><br>
    <input type='text' name='rg_cliente' id='rg_cliente' placeholder='RG do ciente' value='{{rg_cliente}}'><br>
    <input type='text' name='cpf_cliente' id='cpf_cliente' placeholder='CPF do cliente' value='{{cpf_cliente}}'><br>


    <input type='submit' name='btnSubmit' id='btnSubmit' value='Atualizar'><br>
   
</form>